.far .fas {
  font-size: 20px;
  color: black;
  
}

#likeBtn, #dislikeBtn, #savedBtn, #hashtagBtn {
    cursor: pointer;
    padding: 3px;
}

span {
    padding: 3px;
}

.nav-item {
    padding: 10px;
    font-size: 1.2em;
}

.navbar-brand {
    font-size: 2em;
    font-style: oblique;
}

img {
    padding: 5px;
}

.btn-outline-success {

    color: blue;
}

#commentMsg {
    display: inline-block;
}

#hashtag-form {
    padding-left: 13em;
}


#navCon {
    padding-left: 5em;
    padding-right: 5em;
}

.container {
    width: 100%;
    padding-right: 5em;
    padding-left: 5em;
    margin-right: auto;
    margin-left: auto;
}

input#userbox.form-control {
    width: 20em;
}

input#pswbox.form-control {
    width: 20em;
}




