.far .fas {
  font-size: 20px;
  color: black;
  
}

#likeBtn, #dislikeBtn, #savedBtn {
    cursor: pointer;
}

.nav-item {
    padding: 10px;
    font-size: 1.2em;
}

.navbar-brand {
    font-size: 2em;
    font-style: oblique;
}


img {
    padding: 5px;
}

.btn-outline-success {

    color: blue;
}

#commentMsg {
    display: inline-block;
}




