.far .fas {
  font-size: 20px;
  color: black;
  
}

#likeBtn, #dislikeBtn, #savedBtn {
    cursor: pointer;
}

.nav-item {
    padding: 5px;
    font-size: 1.2em;
}


.navbar-brand {
    font-size: 2em;
}


img {
    padding: 5px;
}

.btn-outline-success {

    background-color: blue;
}

#commentMsg {
    display: inline-block;
}
