{% extends 'base.html' %}
{% block content %}

  <form action="/login" method="POST">
    <label>Username</label>
      <input id="userbox" type="username" class="form-control" name="username" placeholder="Username" required>

    <div class="form-group">
      <label>Password</label>
      <input id="pswbox" type="password" class="form-control" name="password" placeholder="Password" required>
    </div>

    <button type="submit" class="btn btn-primary" value="Log In">Log In</button>
</form>

{% endblock %}