{% extends 'base.html' %}
{% block content %}

  <form action="/login" method="POST">
    <label for="InputUsername">Username</label>
      <input type="username" class="form-control" name="username" placeholder="Username" required>

    <div class="form-group">
      <label for="InputPassword">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>

    <button type="submit" class="btn btn-primary" value="Log In">Log In</button>
</form>

{% endblock %}