{% extends "base.html" %}
{% block content %}

<div>
    {% for photo in photos %}
        <a href="/photos/{{ photo.photo_id }}">
          <img src="{{ photo.photo_url }}"></a>
          <br>

        <form id="like-form" action="/photos" method="POST">
            <button name="like-btn" value="{{ photo.photo_id }}">
                <i class="far fa-heart"></i>
            </button>       
        </form>

        <br>
    {% endfor %}
</div>

{% endblock content%}

{% block javascript %}

<script src="/static/js/heart.js"></script>

{% endblock %}

