{% extends "base.html" %}
{% block content %}

<!-- <form action="/hashtag" method="POST">
    <div>
        <label>Hashtag:
            <input type="search" name="hashtag">
        </label>
    </div>
    <div>
        <label>
            <input type="submit" value="search">
        </label>
    </div>
</form> -->
<div id="hashtag-search">
    Hashtag: <input type="text" class="typeahead" 
              autocomplete="off" spellcheck="false" placeholder="#travel">
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="/static/js/hashtag.js"></script>

{% endblock content%}


