{% extends "base.html" %}
{% block content %}

<div class="row" id="detailRow">
    <div class="col">
        <img src="{{ photo.photo_url }}">
    </div>  
    <div class="detailBox">
        <div class="titleBox">
          <label>Comments</label>
        </div>
        <div class="actionBox">
            <ul class="commentList" id="commentId">
                {% for comment in comment_lst %}
                <li>
                    <div class="commenterImage">
                      <img src="http://placekitten.com/50/50">
                    </div>
                    <div class="commentText">
                        {{ comment.comment}}
                    </div>
                </li>
                {% endfor %}
            </ul>
            <form class="form-inline" role="form" id="comment-form" action="/photos/{{ photo.photo_id }}/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment" placeholder="Your comments">
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" class="btn btn-default" value="Add">
                </div>
                <div id="commentMsg"></div>
                <div class="form-group">
                    <input type="hidden" name="photoId" value="{{ photo.photo_id }}">
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    {% for hashtag in photo.hashtags %}
    <span id="hashtagBtn">
        <a href="/photos/{{ hashtag.hashtag_id }}/hashtag">
            <i class="fas fa-hashtag hashBtn" data-photo-id="{{ photo.photo_id }}" data-hashtag-id="{{ hashtag.hashtag_id }}">{{ hashtag.hashtag }}</i>
        </a>   
    </span>       
    {% endfor %}
</div>


{% endblock content%}

{% block javascript %}

{% if "user_id" in session %}

    <script src="/static/js/comment.js"></script>

{% endif %}
{% endblock %}


