{% extends "base.html" %}
{% block content %}

<div>
    <img src="{{ photo.photo_url }}">
</div>

<div>
    {% for hashtag in photo.hashtags %}
    <span id="hashtagBtn">
        <i class="fas fa-hashtag">{{ hashtag.hashtag }}</i>   
    </span>
        
    {% endfor %}
</div>
   

<div>
    <form id="comment-form" action="/photos/{{ photo.photo_id }}/comments" method="POST">
        Comment: <input type="text" name="comment">
        <input type="hidden" name="photoId" value="{{ photo.photo_id }}">
        <input type="submit" name="submit">
        <div id="commentMsg"></div>
    </form>
    
</div>

<ul id="commentId">
    {% for comment in comment_lst %}
        <li>
            {{ comment.comment }}
        </li>
    {% endfor %}
</ul>

{% endblock content%}

{% block javascript %}
{% if "user_id" in session %}

    <script src="/static/js/comment.js"></script>

{% endif %}
{% endblock %}


