{% extends "base.html" %}
{% block content %}

{% for photo in photos %}

    <div>
        <a href="/photos/{{ photo.photo_id }}">
        <img src="{{ photo.photo_url }}"></a>
        <br>
    </div>
        
    <div>
        <form id="like-form" action="/photos/{{ photo.photo_id }}/likes" method="POST">
            <button name="likeBtn" value="{{ photo.photo_id }}">
                <i class="far fa-heart" value="{{ photo.photo_id }}"></i>
            </button>       
        </form>
    </div>

{% endfor %}

{% endblock content%}

{% block javascript %}

<script src="/static/js/heart.js"></script>

{% endblock %}

