{% extends "base.html" %}
{% block content %}

<!-- <form action="/hashtag" method="POST">
    <div>
        <label>Hashtag:
            <input type="search" name="hashtag">
        </label>
    </div>
    
</form> -->
<div>
    <form id="hashtag-form" action="/hashtag" method="POST">
        Hashtag: <input type="text" name="hashtag" class="typeahead" autocomplete="off" spellcheck="false" placeholder="#travel">
        <input type="submit" value="search">
    </form>
</div>
    

{% endblock content%}

{% block javascript %}

<script src="/static/js/hashtag.js"></script>

{% endblock %}


