{% extends 'base.html' %}
{% block content %}

<h3>My Photos</h3>
<div class="row">
    {% for photo in photos %}
        <div class="col-4">
            <img src="{{ photo.photo_url }}" class="img-fluid img-thumbnail" alt="Responsive image">
        </div>     
    {% endfor %}
</div>

<h3>Saved Photos</h3>
<div class="row">
   {% for userphoto in userphoto_lst %}
    <div class="col-4">
        <img src="{{ userphoto.photos.photo_url }}" class="img-fluid img-thumbnail" alt="Responsive image">  
    </div>    
    {% endfor %} 
</div>
{% endblock %}